footer {
    border-right-style: groove;
    border-width: 7px;
    border-color: #0ff;
    box-shadow: 0 0 3px #64ffff;
    background-color: rgba(100, 237, 255, 0.13);
    height: 100%;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
}

.flex-row {
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row h1 {
    color: #ff6c64;
    text-align: left;
    font-size: 4rem;
    text-shadow: 5px 5px 5px rgba(132, 54, 51, 0.67);
}

#subtitle {
    color: #ff6c64;
    text-align: right;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgba(132, 54, 51, 0.67);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #61dafb;
}
#title-description {
    font-size: 1rem;
    text-align: right;
    width: 80%;
}

@media screen and (min-width: 480px) and (max-width: 820px) {
    .flex-row h1 {
        color: #ff6c64;
        text-align: left;
        font-size: 5rem;
        margin: 3rem 3rem 3rem 5rem;
        text-shadow: 5px 5px 5px rgba(132, 54, 51, 0.67);
    }

    .flex-row {
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (min-width: 821px) {
    .flex-row h1 {
        color: #ff6c64;
        text-align: left;
        font-size: 5rem;
        margin: 3rem 3rem 3rem 5rem;
        text-shadow: 5px 5px 5px rgba(132, 54, 51, 0.67);
    }

    .flex-row {
        margin-left: 3rem;
        margin-right: 3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

Clock {
    grid-area: clock;
}

Blocks {
    grid-area: blocks;
}

Drawer {
    grid-area: drawer;
}

Tessaract {
    grid-area: tessaract;
}

header {
    grid-area: header;
}

Technologies {
    grid-area: technologies;
}
